<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    {% block head %}
        <title>{% block title %}{% endblock %} - Pychron Lite</title>
    {% endblock %}
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Pychron Lite <span class="sr-only">(current)</span></a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="/info">Info</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="/mychart">Datastream</a>-->
<!--                    </li>-->
                </ul>
             </div>
<!--            <span></span>-->
<!--            <a class="navbar-brand" href="https://newmexicowaterdata.org">-->
<!--                <img src="{{ url_for('static', filename='newmexicowaterdatalogo.png' )}}"/>-->
<!--            </a>-->
        </nav>
    </header>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>

    <div id="footer">
      {% block footer %}
<!--      <img style="width:15%; height: auto"-->
<!--           src="{{ url_for('static', filename='newmexicobureauofgeologyandmineralresources.jpeg' )}}"/>-->
        <p style="text-align: center">Developed by Jake Ross 2022</p>
      {% endblock %}
    </div>
  </body>
</html>